<footer>
    <p id="day">
    </p>
</footer>
<script>

    const day = new Date().getFullYear()
    document.getElementById("day").innerHTML = "© " + day + " Foosecompany";
</script>
<script src="/script.js"></script>
</body>

</html>